* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
html {
  max-width: 1500px;
  min-width: 800px;
}
html,
body {
  height: 100%;
}
#main {
  width: 100%;
  height: 95%;
  background-color: green;
}
#main #nav-bar {
  float: left;
  width: 3%;
  height: 100%;
}
#main #nav-bar #nav-card {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-250%, -50%);
}
#main #nav-bar #nav-card #nav-main {
  float: left;
  position: absolute;
  width: 250%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: yellow;
}
#main #nav-bar #nav-card #nav-handle {
  float: left;
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: green;
  top: 50%;
  left: 250%;
  transform: translateY(-50%);
}
#main #nav-handle ul {
  height: 100%;
}
#main #nav-handle ul .user-icon,
#main #nav-handle ul .info-icon {
  width: 100%;
  height: 10%;
  background-color: red;
}
#main #nav-handle ul .pull-icon {
  width: 100%;
  height: 80%;
  background-color: blue;
}
#main #forum-box {
  float: left;
  position: relative;
  width: 97%;
  height: 100%;
  background-color: black;
  overflow: auto;
}
#main #forum-left {
  width: 80%;
  width: grey;
  float: left;
}
#main #forum-left #forum-editor {
  width: 100%;
  height: 200px;
  background-color: green;
}
#main #forum-left #forum-content {
  width: 100%;
  background-color: purple;
}
#main #forum-left #forum-content div.forum-comment {
  width: 100%;
  overflow: hidden;
  background-color: white;
}
#main #forum-left #forum-content div.forum-comment div.cmt-flag {
  height: 100%;
  width: 3%;
  background-color: yellow;
  float: left;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main {
  width: 97%;
  float: left;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main div.user-bio {
  width: 100%;
  overflow: hidden;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main div.user-bio div.user-pto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  float: left;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main div.user-bio div.user-info {
  float: left;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main div.user-bio div.user-info div.user-name {
  font-size: 18px;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main div.user-bio div.user-info div.user-tag {
  font-size: 14px;
}
#main #forum-left #forum-content div.forum-comment div.cmt-main div.cmt-content {
  width: 100%;
  font-size: 15px;
  word-wrap: break-word;
}
#main #forum-right {
  width: 20%;
  float: left;
}
#main #forum-right #forum-hotpic {
  width: 100%;
  background-color: orange;
}
#main #forum-right #forum-hotpic div.hotpic-img {
  width: 100%;
  height: 150px;
  background-color: aqua;
}
#main #forum-right #forum-hotpic div.hotpic-ttl {
  font-size: 18px;
}
#main #forum-right #forum-hotpic div.hotpic-content {
  font-size: 14px;
  word-wrap: break-word;
}
#toolbar {
  width: 100%;
  height: 5%;
  background-color: red;
}
#toolbar ul {
  width: 30%;
  height: 90%;
  margin-left: 2%;
}
#toolbar ul li {
  float: left;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background-color: white;
}
