// default settings
* {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
html {
    max-width: 1500px;
    min-width: 800px;
}
html,
body {
    height: 100%;
    // overflow: hidden;
}


// #main area (up body) start
#main {
    width: 100%;
    height: 95%;
    background-color: green;

    // nav-bar start
    #nav-bar {
        float: left;
        width: 3%;
        height: 100%;
        // background-color: yellow;

        #nav-card {
            position: fixed;
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            // let nav-card hide in left side
            transform: translate(-250%, -50%);

            // the main info display area in nav-card
            #nav-main {
                float: left;
                position: absolute;
                width: 250%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: yellow;
            }

            // just a handle, click to unhide the nav-main, some small icon on it
            #nav-handle {
                float: left;
                position: absolute;
                width: 100%;
                height: 60%;
                background-color: green;
                top: 50%;
                left: 250%;
                transform: translateY(-50%);
            }
        }
    }

    // handle icon start
    #nav-handle ul {
        height: 100%;

        .user-icon,
        .info-icon {
            width: 100%;
            height: 10%;
            background-color: red;
        }
        .pull-icon {
            width: 100%;
            height: 80%;
            background-color: blue;
        }
    }

    // show-plc start
    #forum-box {
        float: left;
        position: relative;
        width: 97%;
        height: 100%;
        background-color: black;
        overflow: auto;
    }

    // forum-left start
    #forum-left {
        width: 80%;
        width: grey;
        float: left;

        #forum-editor {
            width: 100%;
            height: 200px;
            background-color: green;

        }

        #forum-content {
            width: 100%;
            background-color: purple;

            div.forum-comment {
                width: 100%;
                overflow: hidden;
                background-color: white;

                div.cmt-flag {
                    height: 100%;
                    width: 3%;
                    background-color: yellow;
                    float: left;
                }

                div.cmt-main {
                    // height: 100%;
                    width: 97%;
                    float: left;

                    div.user-bio {
                        width: 100%;
                        overflow: hidden;

                        div.user-pto {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: red;
                            float: left;
                        }
                        
                        div.user-info {
                            float: left;

                            div.user-name {
                                font-size: 18px;
                                
                            }
                            div.user-tag {
                                font-size: 14px;
                            }
                        }
                    }

                    div.cmt-content {
                        width: 100%;
                        font-size: 15px;
                        word-wrap:break-word;
                    }
                }
            }
        }
    }

    //forum-right start
    #forum-right {
        width: 20%;
        float: left;

        #forum-hotpic {
            width: 100%;
            background-color: orange;

            div.hotpic-img {
                width: 100%;
                height: 150px;
                background-color: aqua;
            }

            div.hotpic-ttl {
                font-size: 18px;
            }
            div.hotpic-content {
                font-size: 14px;
                word-wrap:break-word;
            }
        }
    }
}
// #main area (up body) end

// toolbar start
#toolbar {
    width: 100%;
    height: 5%;
    background-color: red;

    ul {
        width: 30%;
        height: 90%;
        margin-left: 2%;

        li {
            float: left;
            width: 25px;
            height: 25px;
            margin: 0 5px;
            background-color: white;
        }
    }
}
// toolbar end