@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?syaowo');
  src:  url('../fonts/icomoon.eot?syaowo#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?syaowo') format('truetype'),
        url('../fonts/icomoon.woff?syaowo') format('woff'),
        url('../fonts/icomoon.svg?syaowo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
em.icomoon {
    font-style: normal;
    font-family: icomoon;
}