#main-content {
  width: 100%;
  height: 96%;
  background: grey;
}
#huge-left {
  width: 70%;
  height: 100%;
  background-color: black;
}
#core-story {
  position: relative;
  width: 100%;
  height: 60%;
  background-color: blue;
}
#core-story .video-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#core-story .video-img img {
  width: 100%;
  height: 100%;
}
#core-story .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(100, 91, 84, 0.4);
}
#core-story .video-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  font-size: 50px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #7a5f38;
  z-index: 2;
}
#core-story .video-content {
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-size: 14px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(228, 186, 131, 0.568);
  z-index: 2;
}
#core-story .play-button {
  position: absolute;
  z-index: 2;
  width: 150px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(66, 66, 66, 0.3);
  left: 0;
  bottom: 3%;
}
#small-widgets-left {
  width: 100%;
  height: 40%;
}
#small-widgets-left .small-wide-widget {
  position: relative;
  width: 50%;
  height: 100%;
}
#small-widgets-left .small-wide-widget .w-t-1 {
  left: 3%;
  top: 3%;
}
#small-widgets-left .small-wide-widget .w-t-2 {
  right: 3%;
  bottom: 3%;
}
#huge-right {
  width: 30%;
  height: 100%;
}
#small-widgets-right {
  width: 100%;
  height: 90%;
}
#small-widgets-right .small-high-widget {
  position: relative;
  width: 100%;
  height: 50%;
}
#small-widgets-right .w-t-3 {
  top: 2%;
  right: 2%;
}
#small-widgets-right .w-t-4 {
  left: 2%;
  bottom: 2%;
}
#skip-button {
  width: 100%;
  height: 10%;
  background-color: #000;
  position: relative;
}
#skip-button .skip-btn {
  position: absolute;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 25px;
  color: #fff;
}
.widget-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.widget-title {
  position: absolute;
  color: #fff;
  padding: 10px;
  z-index: 2;
}
